<body xmlns="http://www.w3.org/1999/html">
    <div id="register_form">
      <form accept-charset="UTF-8" action="/users" method="post">
        <label for="new_login_input">User</label>
        <input id="new_login_input" type="text" name="user[login]"/>
        </br>
        <label for="new_password_input">Password</label>
        <input id="new_password_input" type="text" name="user[password]"/>
        <br>
        <label for="new_first_name_input">First Name</label>
        <input id="new_first_name_input" type="text" name="user[first_name]"/>
        <br>
        <label for="new_last_name_input">Last Name</label>
        <input id="new_last_name_input" type="text" name="user[last_name]"/>
        <br>
        <button type="submit">Register</button>
      </form>

    </div>
</body>