<div>
  <table id="game_users_table" class="table table-striped table-hover pull-left table-bordered">
  <tr>
  <th>№</th>
  <th>First Name</th>
  <th>Last Name</th>
  </tr>
  <% n=0 %>
  <% @users.each do |u| %>
      <% n=n+1 %>
      <tr>
      <td><%= n %></td>
      <td><%= u.first_name %></td>
      <td><%= u.last_name %></td>
      </tr>
  <% end %>
   </table>
 </div>