<p>
  <b>Date:</b>
  <%= @game.date %>
</p>
<p>
  <b>Time:</b>
  <%= @game.time %>
</p>
<p>
  <b>Place:</b>
  <%= @game.place %>
</p>
<p>
  <b>Price:</b>
  <%= @game.price %>
</p>
<!--<script>$("#new_game_date_input").mask("99/99/9999")</script>-->
